# =========================
# Banco de Dados
# =========================
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=rust_db

# Ajuste manualmente se necessário
DATABASE_URL=postgres://user:password@localhost:5432/rust_db

# =========================
# Segurança
# =========================
JWT_SECRET=super_secret_key_here # Gere com: openssl rand -base64 32

# =========================
# Ambiente
# =========================
APP_ENV=development # development | production | test

# =========================
# Observabilidade
# =========================
RUST_LOG=info # debug | trace